.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }

    &__item {
        flex: 1;
        padding: 0 3%;
        position: relative;

        @include phones {
            padding: 0;
            margin-bottom: rem(14px);
        }
    
        &:before {
            content: url(../svg/separator.svg);
            position: absolute;
            top: rem(59px);
            right: 0;
            transform: translate(50%);

            @include tablets {
                display: none;
            }
        }
    
        &:first-child {
            padding-left: 0;
        }
    
        &:last-child {
            padding-right: 0;
    
            &:before {
                display: none;
            }
        }
    }
}