.button {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    line-height: 1;
    background-color: $red;
    border: none;

    @include tablets {
        padding: rem(21px) rem(41px);
    }
    
    &:hover {
        background-color: #CA1B36;
     }

    &--transparent {
        background-color: transparent;
        text-transform: none;
        font-size: rem(16px);
        font-weight: 400;

        &:hover {
            background: transparent;
            color: $red;
        }
    }   
}