.footer-container {
    margin-top: auto;
    min-height: rem(76px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        padding: 0 rem(17px) 0 rem(10px);
    }

    @include phones {
        flex-direction: column;
    }
}

.footer__column {
    @include phones {
        margin-bottom: rem(19px);
    }
}

.footer__text {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}

.footer__address {
    font-size: rem(18px);

    @include tablets {
        font-size: rem(21px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }
}