.header {
    display: flex;
    align-items: center;

    @include tablets {
        justify-content: space-between;
        align-items: center;
    }
}

.phone-number.header__phone-number {
    margin-left: rem(40px);
    @include tablets {
        display: none;
    }
}