.headline {
    text-align: center;
    margin-bottom: rem(62px);

    &__title {
        margin-bottom: rem(16px);

        @include tablets {
            margin-bottom: rem(6px);
        }

        @include phones {
            margin-bottom: rem(8px);
        }
    }

    &__subtitle {
        font-weight: 400;
        color: $gray;
        line-height: 110%;
        padding: 0 21%;

        @include tablets {
            padding: 0 15%;
        }

        @include phones {
            padding: 0 8%;
        }
    }
}