.order-section {
    background: url(../img/dark-background.png) center center no-repeat;

    @include tablets {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: rem(49px);
    }
}