.order-section {
    background: url(../img/dark-background.png) center center no-repeat;
    position: relative;

    @include tablets {
        display: flex;
        flex-direction: column;
    }

    &__container {
        position: static;
    }

    &__title {
        margin-bottom: rem(49px);

        @include tablets {
            margin-bottom: rem(21px);
        }

        @include phones {
            margin-bottom: rem(33px);
        }
    }
}