.phone-number {
    font-size: rem(18px);
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    color: $black;

    @include phones {
        font-size: rem(16px);
    }

    &:hover {
        color: $red;
    }

    &__icon-pic {
        width: rem(14px);
        height: rem(14px);
        margin-right: rem(6px);
        flex-shrink: 0;
    }
}