.products {
  background-color: $bg-color;
}

.products__control {
  top: 50%;
  position: absolute;
  @include tablets {
    display: none;
  }

  &--left {
    left: rem(-19px);
  }

  &--right {
    right: rem(-19px);
  }

  &-icon {
    width: rem(14px);
    height: rem(33px);
  }
}

.products__item {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.products__content {
  @include tablets {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.products__photo {
  width: 50%;
  flex-shrink: 0;
  margin-right: rem(70px);
  padding-top: 33px;
  position: relative;

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(21px);
    padding-top: 0;
    width: 306px;

    &:before {
      content: "";
      background: url(../svg/left-control.svg) center center no-repeat;
      width: rem(14px);
      height: rem(33px);
      position: absolute;
      top: 50%;
      left: -25%;
    }
    &:after {
      content: "";
      background: url(../svg/right-control.svg) center center no-repeat;
      width: rem(14px);
      height: rem(33px);
      position: absolute;
      top: 50%;
      right: -25%;
    }
  }

  @include phones {
    margin-bottom: 0;
  }
}

.products-parameters {
  display: inline-flex;
  position: relative;
  margin-bottom: rem(23px);

  &__list {
    position: absolute;
    left: -9999px;
    opacity: 0;
    transition: opacity .3s;
    top: 0;
    background: #d5d5d5;
    border-radius: rem(4px);
    padding: rem(25px) rem(25px) rem(34px) rem(31px);
    min-width: rem(273px);
  }

  &:hover {
    .products-parameters__list {
      left: 100%;
      opacity: 1;
    }
  }

  &__button {
    background: $gray;
    padding: rem(25px) rem(24px) rem(24px) rem(25px);
    border-radius: rem(4px);

    @include tablets {
      display: none;
    }
  }

  &__icon {
    width: rem(42px);
    height: (42px);
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(29px);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-icon {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(16px);
  }

  &__value {
    margin-left: auto;
  }
}

.products__title {
  font-weight: 700;
  font-size: rem(36px);
  text-transform: uppercase;
  margin-bottom: rem(23px);
  line-height: rem(41px);

  @include tablets {
    font-size: rem(28px);
    margin-bottom: rem(9px);
    text-align: center;
  }

  @include phones {
    padding: 0 10px;
    line-height: rem(34px);
  }
}

.products__text {
  color: $gray;
  margin-bottom: rem(27px);
  line-height: rem(19px);
  padding-right: rem(30px);
   
  @include tablets {
    padding: 0 rem(59px);
    text-align: center;
   }

   @include phones {
    padding: 0 rem(27px);
   }
}

.products__details {
  display: flex;
  align-items: center;
  column-gap: rem(99px);
  margin-bottom: rem(27px);
}

.products__detail-name {
  color: $gray;
}

.products__detail-value {
  font-size: rem(18px);
  font-weight: 700;
  line-height: rem(17px);
}

.products__order {
  display: flex;
  align-items: center;
  column-gap: rem(19px);

  @include tablets {
    column-gap: rem(27px);
  }
}

.products__price {
  font-size: rem(36px);

  @include tablets {
    font-size: rem(40px);
  }

  @include phones {
    font-size: rem(32px);
  }
}