.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(16px);

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url(../svg/checkmark.svg) center center no-repeat;
            }
        }
    }

    &__element {
        display: none;
    
        &:checked ~ .radio__visible {
            &:before {
                display: block;
            }
        }
    }

    &__visible {
        width: rem(25px);
        height: rem(25px);
        position: relative;
        border-radius: 50%;
        background: white;
        margin-right: rem(10px);
    
        &:before {
            content: "";
            width: rem(13px);
            height: rem(13px);
            background: $red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
    }

    &__title {
        color: white;
    }
}