.socials {
    display: flex;

    &__item {
        margin-left: rem(10px);

        @include tablets {
            margin-left: rem(12px);
        }

        @include phones {
            margin-left: rem(15px);
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__icon {
        width: rem(30px);
        height: rem(30px);
        transition: 0.3s;

        @include phones {
            width: rem(24px);
            height: rem(24px);
        }

        &:hover {
            fill: black;
        }
    }
}