.team__list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team__item {
    flex: 1;
    min-height: rem(454px);
    text-align: center;

    @include tablets {
        min-height: 0;
    }
}

.team__photo {
    margin-bottom: 25px;

    @include tablets {
        display: none;
    }
}

.team__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(18px);
    font-weight: 700;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background: url(../svg/arrow.svg) center center no-repeat;
        width: rem(9px);
        height: rem(9px);
        right: rem(5px);
    }
}

.team__description {
    height: 0;
    overflow: hidden;
    transition: height .3s;
}

.team__photo--hidden {
    display: none;

    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.team__position {
    margin-bottom: rem(4px);
}

.team__position-desc {
    color: $gray;
}